In [17]:
person_dict={"name": "Alice", "age": 25}
# print(f"Employee location: {person_dict['city']}")
print(f"Employee location: {person_dict.get('city', 'not found')}")

Employee location: not found

In [ ]:
person={"name": "Alice", "age": 25}
print(person)
person["city"]="New York"
print(person)
person["age"]=26
person["name"]="noah"
person["age"]=12
print(person)
person.update({"name": "Bob", "age": 30, "city": "London", "phone": "123-456-7890"})
del person["phone"]
# phone=person.pop("phone")
print(phone)

person.clear()
person["name"]="Charlie"
print(person)

{'name': 'Alice', 'age': 25}
{'name': 'Alice', 'age': 25, 'city': 'New York'}
{'name': 'noah', 'age': 12, 'city': 'New York'}
123-456-7890
{'name': 'Charlie'}

In [6]:
countrys = {"USA": "Washington, D.C.", "France": "Paris", "Japan": "Tokyo"}
print(countrys.keys())
print(countrys.values())
print(countrys.items())
print(f"{'USA' in countrys}")

dict_keys(['USA', 'France', 'Japan'])
dict_values(['Washington, D.C.', 'Paris', 'Tokyo'])
dict_items([('USA', 'Washington, D.C.'), ('France', 'Paris'), ('Japan', 'Tokyo')])
True

In [8]:
print(countrys.items())

dict_items([('USA', 'Washington, D.C.'), ('France', 'Paris'), ('Japan', 'Tokyo')])

In [ ]:
fruits={"name": "apple", "color": "red", "taste": "sweet"}
print(f"{'name' in fruits}")
print(f"{'price' in fruits}")

True
False

In [ ]:
scores = {"Alice": 95, "Bob": 87, "Charlie": 92}
total=0
for key in scores:
    print(f"{key}: {scores[key]}")
    print("***")
    print(key)
    if key=="Bob":
        break
    total += scores[key]
    print(total)

Alice: 95
***
Alice
95
Bob: 87
***
Bob

In [41]:
scores = {"Alice": 95, "Bob": 87, "Charlie": 92}
total=0
for values in scores.values():
    print(f"values : {values}   ")
    if values < 90: 
        break
    print("***")
    total += values
    print(f"total : {total}   ")

values : 95
***
total : 95
values : 87

In [42]:
students = {
    "student1": {
        "name": "Alice",
        "age": 20,
        "grades": [85, 90, 92]
    },
    "student2": {
        "name": "Bob",
        "age": 22,
        "grades": [78, 85, 88]
    }
}

print(f"Students: {students}")
print(f"Student1 name: {students['student1']['name']}")
print(f"Student2 first grade: {students['student2']['grades'][0]}")

Students: {'student1': {'name': 'Alice', 'age': 20, 'grades': [85, 90, 92]}, 'student2': {'name': 'Bob', 'age': 22, 'grades': [78, 85, 88]}}
Student1 name: Alice
Student2 first grade: 78

In [44]:
print("awrgr\"th ")

awrgr"th

In [4]:
student = {"name": "Bob", "grade": 85, "major": "Physics" , "age":12} 
print(f" {"age" in student}")

 True

In [2]:
dict({"America": "washington","Germany":"Berlin","Russia":"Moscow", "UK":"london","France":"Paris"})

{'America': 'washington',
 'Germany': 'Berlin',
 'Russia': 'Moscow',
 'UK': 'london',
 'France': 'Paris'}

In [ ]:
# Create a dictionary of 5 countries and their capitals
country_capitals = {
    "America": "Washington",
    "Germany": "Berlin",
    "Russia": "Moscow",
    "UK": "London",
    "France": "Paris"
}

In [6]:
print(country_capitals["America"])

Washington

In [7]:
country_capitals["Canada"] = "Ottawa"

In [8]:
print(country_capitals)

{'America': 'Washington', 'Germany': 'Berlin', 'Russia': 'Moscow', 'UK': 'London', 'France': 'Paris', 'Canada': 'Ottawa'}

In [22]:
for noah  in country_capitals.keys():
    print(country_capitals[noah] ,"->", noah)
    # Indexing into dictionary to get value

Washington -> America
Berlin -> Germany
Moscow -> Russia
London -> UK
Paris -> France
Ottawa -> Canada

In [23]:
print(enumerate(country_capitals))

<enumerate object at 0x0000020504F28A90>

In [ ]:
my_list = ['a', 'b', 'c','d','e','f','g','h','i','j','k']
index = 1
for item in my_list:
    print(index, item)
    index += 2

2 a
4 b
6 c
8 d
10 e
12 f
14 g
16 h
18 i
20 j
22 k

In [ ]:
for index,item in enumerate(my_list, start=1):
    print((index*2), item)

0 a
2 b
4 c
6 d
8 e
10 f
12 g
14 h
16 i
18 j
20 k